.button {
  border-radius: 50px;
  cursor: pointer;
  transition: all 200ms ease;
  min-width: 120px;
  
  &.fullWidth {
    width: 100%;
  }

  &.sm {
    font-size: 14px;
    padding: 6px 12px;
  }

  &.md {
    font-size: 16px;
    padding: 14px 20px;
  }

  &.lg {
    font-size: 18px;
    padding: 16px 22px;
  }

  &:hover {
    filter: brightness(95%);
  }

  &:disabled {
    opacity: 0.85;
    cursor: not-allowed;
  }
}
