.cardExperience {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  transition: ease-in-out 200ms;
  cursor: default;
  position: relative;
  padding: 12px;

  .title {
    color: #328dff;
  }

  @media (min-width: 768px) {
    padding: 20px;

    .title {
      color: inherit;
    }
  }

  &:hover {
    // transform: scale(1.05);
    transition: ease-in-out 200ms;
  }

  &:hover .title {
    color: #328dff;
  }

  &:before {
    content: '';
    position: absolute;
    width: 0; 
    height: 0; 
    border-radius: 4px;
  }
}