@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #1E1E1E;
  background: var(--background);
  font-family: 'Nunito', sans-serif;
  height: auto;
  margin: 0;
  background: #FDF8ED;
  font-size: 16px;
}

section {
  margin-top: 100px;
  padding: 20px 24px;
  
  @media (min-width: 768px) {
    padding: 60px 120px;
  }
}