@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #272828;
  background: var(--background);
  font-family: 'Inter', sans-serif;
  height: auto;
  margin: 0;
  font-size: 16px;
}

section {
  padding: 40px 24px;
}

a.menu-link {
  cursor: pointer;
  padding: 4px 0;
  display: inline-block;;
  text-align: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-50%) scaleX(0);
    width: 40px;
    height: 2.5px;
    background-color: #328dff;
    opacity: 0;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  }

  &:hover {
    font-weight: 600;
    &::before {
      transform: translateX(0) scaleX(1);
      opacity: 1;
    }
  }
}