@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #1E1E1E;
  background: var(--background);
  font-family: 'Poppins', sans-serif;
  height: auto;
  margin: 0;
  background: #FDF8ED;
}
